@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-shimmer {
        animation: shimmer 2s infinite;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
